setuptools>=65.5.1
accelerate>=0.25.0
librosa>=0.10.0
numpy>=1.24.0
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
transformers>=4.35.0
webrtcvad==2.0.10
websockets>=12.0
flask>=3.0.0
werkzeug>=3.0.0
whisper-timestamped>=1.15.0
